.card {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--Blue, #279ef8);
  background: var(--Background, #fff);
}

.bas-card {
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}
.haut-card {
  position: relative;
}

.card-name {
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--Background, #fff);
  padding: 8px 12px;
}

.card-enregistre {
  position: absolute;
  right: 12px;
  top: 12px;
}

.card-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.sous-titre {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
