.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.filters-title {
  color: var(--color-brown);
  font-family: "Bubbler One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filters-grec {
  border-radius: 8px;
  background: var(--blue);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  justify-content: space-between;
}

.filters-egyptien {
  border-radius: 8px;
  background: var(--yellow);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  justify-content: space-between;
}

.filters-nordique {
  border-radius: 8px;
  background: var(--green);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  justify-content: space-between;
}

.filters-romain {
  border-radius: 8px;
  background: var(--red);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  justify-content: space-between;
}

.filters-name {
  color: var(--background, #fff);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
