header {
  display: flex;
  position: fixed;
  height: 89px;
  padding: 20px 12px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: var(--nwar, #000);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-weight: 400;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  cursor: pointer;
}

.menu {
  border-top: 1px solid var(--nwar, #000);
  background: var(--color-gray);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 999;

  display: inline-flex;
  padding: 20 12 20 70;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  position: fixed;
  top: 89px;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  border-bottom: 1px solid #ccc;
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.special-button {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--nwar, #000);
  background: var(--text-brown, #515050);
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
  .menu-desktop-container {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .menu-desktop-container {
    display: none;
  }
}
