* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  --color-brown: #515050;
  --color-white: #fff;
  --color-gray: #bcbfc3;
  --background: #fff;
  --nwar: #000;
  --blue: #279ef8;
  --yellow: #f8af27;
  --green: #12965d;
  --red: #f82727;
}

html[data-theme="dark"] {
  --color-brown: #e6e6e6;
  --color-white: #1a1a1a;
  --color-gray: #4a4a4a;
  --background: #121212;
  --nwar: #ffffff;
  --blue: #3ba9f9;
  --yellow: #f9bc45;
  --green: #1fba74;
  --red: #f94545;
}

main {
  display: flex;
  padding: 0 12px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

button {
  border: none;
}

h1 {
  color: var(--color-brown);
  font-family: "Caesar Dressing";
  font-size: 32px;
  font-weight: 400;
  margin: 110 0 20 0;
}

h2 {
  color: var(--color-brown);
  font-family: "Caesar Dressing";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: var(--color-brown);
  font-family: "Caesar Dressing";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--color-brown);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  color: var(--color-brown);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

img {
  height: 216px;
  width: 100%;
  object-fit: cover;
}

li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer {
  display: flex;
  padding: 20px 12px;
  flex-direction: column;
  gap: 20px;
}

.plus {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
